<div class="page-header">
    <div class="container">
        <h1>BBC Things <small>Is not supported in the browser</small></h1>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="panel panel-danger" ng-hide="response.status === 200">
        <div class="panel-heading">
                Sorry
        </div>
        <div class="panel-body" class="panel-body danger">
            <p>BBC Things does not allow CORS, or Cross Origin Resource Sharing, and thus cannot be used from within the browser... Sad times...</p>
        </div>
    </div>
</div>